*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:  'navbar'
                          'filtro'
                          'productos'
                          'footer'

    ;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

.nav {
    display:flex;
    background-color:green;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    grid-area: navbar;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.filtro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    padding: 10px;
    grid-area: filtro;
}
select, option{
    width: 90%;
    height: 40px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    border-radius: 5px;
}